:root {
    --cor-de-fundo: #3c8540;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
  

header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.friends {
    width: 70%;
    padding: 8px 20px;
}

.introducao {
    display: flex;
    margin: 16px 0 0 0;
    padding: 20px 0;
    background-color: #3c8540;
    border-radius: 19px ;
    border: 3px solid black;
}
.barbie { 
    width: 70%;
    padding: 8px 20px;
}



.desenvolvimento {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 40px 0 40px 0;
    padding: 20px 0;
    background-color: #3c8540;
    border-radius: 19px ;
    border: 3px solid black;
}
.imagem {
    display: grid;
    margin: 20px 0 0 0;
    padding: 14px 40px;
    background-color: #3c8540;
    border-radius: 22px ;
    border: 3px solid black;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;

}

#equipe { 
    display: grid;
   text-align: center;
    margin-top: 30px;
     grid-template-columns: 33% 33% 33%;
}


.foto {
    width: 45%;
}

footer{    display: flex;
    justify-content: space-around;}

    a{display: flex;
        justify-content: space-around;
    }