:root{ 
--cor-de-fundo: #2f942f; 
} 
body{
    background-color: var(--cor-de-fundo);

}


header`{display: flex;
    align-items: flex-start;
    flex-direction: column;   
}

#friends{ 
    width:50%; }

